@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Delius+Unicase&family=Inter:wght@300&family=Montserrat:wght@500&family=Open+Sans&family=Poppins&family=Roboto:wght@300&display=swap');
body{
    background-color: #8CC461;
}

*{
    margin: 0;
    font-family: 'Roboto',sans-serif;
}
#rock,#paper,#scissor{  
    color: #FFF;
    margin-left: 200px;
    margin-top: 100px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 40px;
    font-family: 'Roboto';
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height:15px;
    letter-spacing: 4px;
    position: absolute;

}
.score-card{
    width: 65vw;   
    height: 22vh;
    margin-left: 15vw;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
}
.computer-scorecard{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 42vw;
    padding: 2vh 1.5vw;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    border-radius: 10px;
}
#score-computer,#score-user{
    color: #252525;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
}
#comp-score{
    color: #656565;
    font-size: 17px;
    font-weight: bolder;
    letter-spacing: 1.7px;
}
.user-scorecard{
    background-color: white;
    margin: 10px;
    padding: 2vh 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
#user-score{
    color: #656565;
    font-size: 17px;
    font-weight: bolder;
    letter-spacing: 1.7px;
}

.play-area{
    margin-left: 40px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.rock{
    margin-left: 32vw;
    display: inline;
}

.scissor{
    margin-left: 12vw;
    display: inline;
}

.paper{
    margin-left: 42vw;
    margin-top: 11vh;
}

#result{
    margin-left: 40vw;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 3.9px;
}

#rock-btn{
    padding: 12px 4px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid #0074B6;
    cursor: pointer;
}

#scissor-btn{
    padding: 12px 20px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid #BD00FF;
    cursor: pointer;
}

#paper-btn{
    padding: 8px 10px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid #FFA943;
    cursor: pointer;
}

#rules{
    float: right;
    margin-right: 10px;
    color: white;
    padding: 5px 12px;
    background-color:#8CC461;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 2.1px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

#next{
    float: right;
    color: white;
    padding: 5px 12px;
    margin-left: 10px;
    margin-right: 20px;
    background-color:#8CC461;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 2.1px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}
h2{
    text-align: center;
    color: #FFF;
    font-size: 29px;
    font-weight: 500;
    padding: 20px 10px;
}
#popup-banner{
    background-color: #004429;
    width:22vw;
    height: 26vw;
    margin-left: 65vw;
    padding: 5px 10px;
    display: inline;
    position: absolute;
    border: 8px solid white;
    border-radius: 15px;
}

li{
    color: #FFFFFF;
    list-style-type: square;
    padding: 8px 5px;
}
#close-btn{
    font-family: 'Dangrek';
    font-size: 44px;
    font-weight: 400;
    color: white;
    background-color: red;
    padding: 2px 10px;
    border: 5px solid white;
    border-radius: 50px;
    position: absolute;
    margin-left: 20vw;
    margin-bottom: 50px;
    float: inline-start;
    cursor: pointer;
}

#play-again{
    color: #6B6B6B;
    margin-top: 10px;
    margin-left: 45vw;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 10px 15px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}