@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Delius+Unicase&family=Inter:wght@300&family=Montserrat:wght@500&family=Open+Sans&family=Poppins&family=Roboto:wght@300&display=swap');
body{
    background-color: #8CC461;
}

*{
    margin: 0;
    font-family: 'Roboto',sans-serif;
}
#rock,#paper,#scissor{  
    color: #FFF;
    margin-left: 200px;
    margin-top: 100px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 40px;
    font-family: 'Roboto';
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height:15px;
    letter-spacing: 4px;
    position: absolute;

}
.score-card{
    width: 65vw;   
    height: 22vh;
    margin-left: 15vw;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
}
.computer-scorecard{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 42vw;
    padding: 2vh 1.5vw;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    border-radius: 10px;
}

#comp-score{
    color: #656565;
    font-size: 17px;
    font-weight: bolder;
    letter-spacing: 1.7px;
}
.user-scorecard{
    background-color: white;
    margin: 10px;
    padding: 2vh 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
#user-score{
    color: #656565;
    font-size: 17px;
    font-weight: bolder;
    letter-spacing: 1.7px;
}
