*{
    margin: 0;
}

body{
    background-color: #8CC461;
}

#trophy{
    position: absolute;
    margin-top: 35vh;
    margin-left: 40vw;
}

#stars{
    position: absolute;
    margin-top: 15vh;
    margin-left: 30vw;
}

#play-again{
    color: #6B6B6B;
    margin-top: 10px;
    margin-left: 45vw;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 10px 15px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
}

